.product-details-card {
  width: 100%;
  padding: 1rem;
  margin-bottom: 15px;
  box-shadow: 3px 3px 3px #8080804a;
  border: none;
}

.product-image {
  background-color: #f2f2f2;
  width: 50%;
  transform: translate(-26px, -25px);
  border-radius: 9px;
  box-shadow: 5px 5px 10px #80808096;
}

.product-description {
  font-weight: bold;
  width: 50%;
}

.product-name {
  font-weight: bold;
  min-height: 80px;
}

.product-card-header {
  display: flex;
}

.product-card-btn {
  color: #fff;
  padding-left: 2em !important;
  padding-right: 2em !important;
  background-color: #e61d36 !important;
  border-color: #007bff00 !important;
}

.product-availability {
  display: inline-block;
  color: #6b6b6bea;
}

.product-scooter-icon {
  width: 1.8em;
}

.product-cost {
  color: #e61d36;
}
