body {
  background-color: #f2f2f2 !important;
}

.App {
  background-color: #f2f2f2;
  padding: 7px 7px;
  margin: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  body {
   font-size: 10px!important;
  }
}